.menu-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 160px;
  margin: 10px;
  background: white;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.menu-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.menu-details {
  padding: 10px;
}

.price {
  font-weight: bold;
  color: #ff6347;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions input {
  width: 50px;
}

.menu-section{
  border-top: 1px solid;
  padding-top: 20px;
  margin-top: 30px;
}